<div class="container">
  <div class="row justify-content-center">
    <h2><strong>科目追加</strong></h2>
  </div>
  <div class="row justify-content-center">
    <%= form_with(model: @subject, :url => {:controller => "admin/subjects"}) do |f| %>

      <div class="row form-for-resistration">
          <div class="col-6">

            <%= f.text_field :name, placeholder: "科目名を入力", autofocus: true, autocomplete: "科目名を入力" %>
          </div>
      </div>

      <div class="row form-for-resistration">
        <div class="col-7"></div>
        <div class="col-5">
          <%= f.submit '新規登録', class:"btn btn-success" %>
        </div>
      </div>

    <% end %>
  </div>
  <div class="row justify-content-center">
    <h2><strong>科目一覧</strong></h2>
  </div>
  <div class="row justify-content-center">
    <% @subjects.each do |subject| %>
      <h4 class="col"><%=  link_to subject.name, admin_subject_path(subject.id) %></h4>
    <% end %>
  </div>
</div>
