// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.page-title {
  background-color: #005500;
  display: block;
  height: 80px;
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
  color: white;
}

.users-confirm {
  width: auto;
  height: auto;
  margin: auto;
  background-color: #005500;
  justify-content: center;
  display: flex;
  margin-bottom: 30px;
  position: relative;
  align-items: center;

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFEE;
    border-radius: 40px;
    table-layout: fixed;
    height: 400px;
    width: 700px;
    padding: 0px 40px 40px 40px;
    text-align: center;
  }

  &__options {
    position: absolute;
    bottom: 60px;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__quit-form {
    display: inline-block;
    margin: 0;
  }

  &__back-button {
    margin-right: 0;
  }

  &__quit-button {
    margin-left: 0;
  }

  &__notice {
    color: red;
  }

}