<div class="container">
  <div class="row justify-content-center">
    <h2><strong>科目一覧</strong></h2>
  </div>
  <div class="row justify-content-center">
    <% @subjects.each do |subject| %>
      <h4 class="col"><%=  link_to subject.name, subject_path(subject.id) %></h4>
    <% end %>
  </div>
</div>
