<div class="container">
  <div class="row">
    <h3><strong>いいねした投稿一覧</strong></h3>
  </div>
  <div class="row">
    <% @comments.each do |comment| %>
      <%= comment.body %>
    <% end %>
  </div>
</div>