<div class="container">
  <div class="row justify-content-center">
    <h2><strong>All users</strong></h2>
  </div>
  <div class="row justify-content-center">
    <div class="col-4 text-left">
      <% @users.each do |user| %>
        <p>
          <%= link_to admin_user_path(user.id) do %>
            <%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no-image.jpeg", size: "40x40" %>
          <% end %>
          <%= user.id %>.
          <%= link_to user.nick_name, admin_user_path(user) %>
            ステータス：
            <% if user.is_valid == false %>
              <strong class="text-secondary">退会済み</strong>
            <% else %>
              <strong class="text-success">有効</strong>
            <% end %>
      </p>
      <% end %>
    </div>
  </div>
</div>