<div class="top_background">

    <h1 class="introduction-title">Welcome to Ally for learners!!</h1>
    <div class="col-5 about-box">
        <strong><h3 class="introduction">
          Allyとは「味方」の意。<br>
          つまりAlly for learnersは<br>
          学習者の味方です。
        </h3></strong>

        <strong><h3 class="introduction">
          参考書の口コミ・レビューを探したり、<br>
          自分が使用した参考書の感想や難易度、<br>
          使用した背景を投稿できるSNSです。
        </h3></strong>

        <strong><h3 class="introduction">
          情報収集にぜひご活用ください！
        </h3></strong>

    </div>

</div>